<template>
    <div class="container-full">
        <p style="
    text-align: center;
    font-weight: 600;
    font-size: 24px;
">Подбор коробки передач на <span style="color: #f00;" v-html="this.mark"></span></p>
        <div style="margin-top: 20px;margin-bottom:20px;">
            <div class="row">
                <div class="col-md-3">
                    <markselect v-model="mark" placeholder="Марка" @input="applyFilter" :multiple="false"
                                :options="parameters.marks"></markselect>
                </div>
                <div class="col-md-3">
                    <modelselect v-model="model" @select="applyFilter('model')" @close="applyFilter()" @remove="applyFilter()" :close-on-select="false" placeholder="Модель" :multiple="true" :options="parameters.models"></modelselect>
                </div>
                <div class="col-md-3">
                    <bodyselect v-model="body" @select="applyFilter('body')" @close="applyFilter()" @remove="applyFilter()" :close-on-select="false" :multiple="true" placeholder="Кузов"
                                :options="parameters.bodies"></bodyselect>
                </div>
                <div class="col-md-3">
                    <yearselect v-model="year"  placeholder="Год" @select="applyFilter('year')" @close="applyFilter()" @remove="applyFilter()" :close-on-select="false" :multiple="true" :options="parameters.years"></yearselect>
                </div>
            </div>

            <div class="row" style="margin-top: 10px;">

                <div class="col-md-3">
                    <volumeselect v-model="volume" @select="applyFilter('volume')" @close="applyFilter()" @remove="applyFilter()" :close-on-select="false" placeholder="Объем" :multiple="true"
                                  :options="parameters.volumes"></volumeselect>
                </div>
                <div class="col-md-3">
                    <powerselect v-model="power" @input="applyFilter" placeholder="Мощность" :multiple="false" :options="parameters.powers"></powerselect>
                </div>
                <div class="col-md-3">
                    <engineselect v-model="engine" @select="applyFilter('engine')" @close="applyFilter()" @remove="applyFilter()" :close-on-select="false" placeholder="Двигатель" :multiple="true" :options="parameters.engines"></engineselect>
                </div>
                <div class="col-md-3">
                    <boxselect v-model="box" @select="applyFilter('box')" @close="applyFilter()" @remove="applyFilter()" :close-on-select="false" placeholder="Коробка" :multiple="true" :options="parameters.boxes"></boxselect>
                </div>
            </div>
        </div>
        <div class="table-responsive">
        <table class="table" v-if="results.length > 0">
            <thead style="line-height: 40px;">
            <th class="text-center">Марка</th>
            <th class="text-center">Модель</th>
            <th class="text-center">Комплектация</th>
            <th class="text-center">Кузов</th>
            <th class="text-center">Период выпуска</th>
            <th class="text-center">Двигатель</th>
            <th class="text-center">Объём</th>
            <th class="text-center">Мощность</th>
            <th class="text-center">Коробка</th>
            <th class="text-center">Кол-во передач</th>
            <th class="text-center">Привод</th>
            <th></th>
            </thead>
            <tbody>
            <tr v-for="result in results" v-if="results.length > 0">
                <td class="text-center">
                    <span v-if="result.id != editField">{{ result.mark }}</span>
                    <input type="text" v-model="result.mark" v-if="editField == result.id">
                </td>
                <td class="text-center">
                    <span v-if="result.id != editField">{{ result.model }}</span>
                    <select v-model="result.model" v-if="editField == result.id">
                        <option v-for="model in parameters.models">
                            {{ model.label }}
                        </option>
                    </select>
                </td>
                <td class="text-center">
                    <span v-if="result.id != editField">{{ result.model_name }}</span>
                    <input type="text" v-model="result.model_name" v-if="editField == result.id">
                </td>
                <td class="text-center">
                    <span v-if="result.id != editField">{{ result.body_type }}</span>
                    <select v-model="result.body_type" v-if="editField == result.id">
                        <option v-for="body_type in parameters.bodies">
                            {{ body_type.label }}
                        </option>
                    </select>
                </td>
                <td class="text-center">
                    <span v-if="result.id != editField">{{ result.year_from }} - {{ result.year_to }}</span>
                    <input type="text" v-model="result.year_from" v-if="editField == result.id">
                    <input type="text" v-model="result.year_to" v-if="editField == result.id">
                </td>
                <td class="text-center">
                    <span v-if="result.id != editField">{{ result.engine_type }}</span>
                    <select v-model="result.engine_type" v-if="editField == result.id">
                        <option v-for="engine_type in parameters.engines">
                            {{ engine_type.label }}
                        </option>
                    </select>
                </td>
                <td class="text-center">
                    <span v-if="result.id != editField">{{ result.volume }}</span>
                    <input type="text" v-model="result.volume" v-if="editField == result.id">
                </td>
                <td class="text-center">
                    <span v-if="result.id != editField">{{ result.horse_power }}</span>
                    <input type="text" v-model="result.horse_power" v-if="editField == result.id">
                </td>
                <td class="text-center">
                    <span v-if="result.id != editField">{{ result.box_type }}</span>
                    <select v-model="result.box_type" v-if="editField == result.id">
                        <option v-for="box_type in parameters.boxes">
                            {{ box_type.label }}
                        </option>
                    </select>
                </td>
                <td class="text-center">{{result.box_val}}</td>
                <td class="text-center">
                    <span v-if="result.id != editField">{{ result.unit_type }}</span>
                    <input type="text" v-model="result.unit_type" v-if="editField == result.id">
                </td>
                <td class="text-center">
                    <button class="btn btn-success" @click="carId=result.id" data-toggle="modal" data-target="#carModal">Выбрать</button>
                </td>
            </tr>
            </tbody>
        </table>
            <p style="text-align: center" v-if="results.length < 1">С заданными параметрами не найдено ни одной комплектации</p>
        </div>


        <div class="modal fade" id="successModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div style="text-align: center;">
                        <span style="font-size: 19px;font-weight: 600;">
                           Вы успешно подали заявку!
                        </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="carModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div style="text-align: center;">
                        <span style="font-size: 19px;font-weight: 600;">
                           В наличии 6 коробок передач на ваш авто. На какой номер телефона прислать предложение с ценой и пробегом?
                        </span>
                        </div>
                        <label for="inputNumber">Номер телефона *</label>
                        <input type="text" required v-model="selectParameters.phone" class="form-control" id="inputNumber">
                        <button class="btn btn-large btn-success" @click="createDeal()" data-dismiss="modal" data-toggle="modal" data-target="#successModal" style="margin-top:10px;">Получить предложение</button>
                    </div>
                </div>
            </div>
        </div>
     </div>
</template>

<script>
    import Multiselect from 'vue-multiselect'
    import 'vue-multiselect/dist/vue-multiselect.min.css'

    export default {
        components: {
            markselect: Multiselect,
            modelselect: Multiselect,
            bodyselect: Multiselect,
            boxselect: Multiselect,
            volumeselect: Multiselect,
            engineselect: Multiselect,
            powerselect: Multiselect,
            yearselect: Multiselect,
        },
        props: [
            'params',
            'selectparams'
        ],
        mounted() {
            this.applyFilter();
        },
        data() {
            return {
                // define default value
                mark: this.selectparams.mark,
                model: this.selectparams.model,
                body: null,
                box: null,
                volume: null,
                engine: null,
                power: null,
                year: null,
                yearleft: null,
                yearright: null,
                results: null,
                isInputSearch: false,
                inputSearchValue: null,
                parameters: this.params,
                carId: 0,
                selectParameters: this.selectparams,
                editField: 0,
            }
        },
        methods: {
            applyFilter: function (filter) {
                this.isAvailable = false;
                var self = this;
                setTimeout(function () {
                    axios.post('/get-results', {
                        mark: self.mark,
                        model: self.model,
                        body: self.body,
                        box: self.box,
                        volume: self.volume,
                        engine: self.engine,
                        power: self.power,
                        year: self.year,
                        yearleft: self.yearleft,
                        yearright: self.yearright,
                        filter: filter,
                    }).then((response) => {
                        self.results = response.data.results;
                        self.parameters = response.data.params;
                    });
                });
            },
            createDeal: function() {
                axios.get('/crm/create-deal/' + this.selectParameters.phone + '/' + this.carId + '/' + this.selectparams.year, {}).then((response) => {
                   console.log(response);
                });
            }
        }
    }
</script>
