<template>
    <div class="container-full">
        <div class="row">
            <div class="col-md-3">
                <button class="btn btn-success" @click="isInputSearch = false">Фильтры</button>
                <button class="btn btn-success" @click="isInputSearch = true">Поиск</button>
            </div>
            <div class="col-md-3">
                <input class="form-control" v-model="textToDeal" placeholder="Сообщение" style="width:70%;float:left;padding-right:5px;margin-right: 15px;">
                <button class="btn btn-success" @click="sendNoteToDeal">Отправить</button>
            </div>
            <div class="col-md-3">
                <select class="form-control" v-model="searchBase" @change="changeSearchBase">
                    <option value="1">Ferio</option>
                    <option value="0">Auto + Drom</option>
                </select>
            </div>
        </div>
        <div v-if="isInputSearch" style="margin-top: 10px;">
            <input class="form-control" v-model="inputSearchValue" @input="searchaction" placeholder="Поиск">
        </div>
        <div v-if="!isInputSearch" style="margin-top: 10px;">
            <div class="row">
                <div class="col-md-3">
                    <markselect v-model="mark" placeholder="Марка" @input="applyFilter" :multiple="false"
                                :options="parameters.marks"></markselect>
                </div>
                <div class="col-md-3">
                    <modelselect v-model="model" :show-labels="false" @select="applyFilter('model')" @close="applyFilter()" @remove="applyFilter()" :close-on-select="false" placeholder="Модель" :multiple="true" :options="parameters.models"></modelselect>
                </div>
                <div class="col-md-3">
                    <bodyselect v-model="body" @select="applyFilter('body')" @close="applyFilter()" @remove="applyFilter()" :close-on-select="false" :multiple="true" placeholder="Тип кузова"
                                :options="parameters.bodies"></bodyselect>
                </div>
                <div class="col-md-3">
                    <yearselect v-model="year"  placeholder="Год выпуска" @select="applyFilter('year')" @close="applyFilter()" @remove="applyFilter()" :close-on-select="false" :multiple="true" :options="parameters.years"></yearselect>
                </div>
            </div>

            <div class="row" style="margin-top: 10px;">

                <div class="col-md-3">
                    <volumeselect v-model="volume" @select="applyFilter('volume')" @close="applyFilter()" @remove="applyFilter()" :close-on-select="false" placeholder="Объем л." :multiple="true"
                                  :options="parameters.volumes"></volumeselect>
                </div>
                <div class="col-md-3">
                    <powerselect v-model="power" @input="applyFilter" placeholder="Мощность ДВС" :multiple="false" :options="parameters.powers"></powerselect>
                </div>
                <div class="col-md-3">
                    <engineselect v-model="engine" @select="applyFilter('engine')" @close="applyFilter()" @remove="applyFilter()" :close-on-select="false" placeholder="Тип ДВС" :multiple="true" :options="parameters.engines"></engineselect>
                </div>
                <div class="col-md-3">
                    <boxselect v-model="box" @select="applyFilter('box')" @close="applyFilter()" @remove="applyFilter()" :close-on-select="false" placeholder="Коробка" :multiple="true" :options="parameters.boxes"></boxselect>
                </div>
            </div>
        </div>
        <table class="table">
            <thead>
            <th></th>
            <th>Марка</th>
            <th>Модель</th>
            <th>Код кузова</th>
            <th>Комплектация</th>
            <th>Тип кузова</th>
            <th>Период выпуска</th>
            <th>Тип ДВС</th>
            <th>ДВС</th>
            <th>Объём ДВС</th>
            <th>Мощность ДВС, л.с.</th>
            <th>Тип КПП</th>
            <th>Количество передач</th>
            <th>Тип привода</th>
            <th>Рынок</th>
            <th style="width:150px;"></th>
            </thead>
            <tbody>
            <tr v-for="result in results" v-if="results.length > 0"
                v-bind:class="{ 'merged' : result.parse_type == 'merged', 'drom' : result.parse_type == 'drom', 'autoru': result.parse_type == ''}">
                <td style="width:60px;">
                    <a :href="result.url_drom" target="_blank" v-if="result.url_drom != ''">
                        <img src="/images/dromico.png" width="20" style="float:left;">
                    </a>
                    <a :href="result.url" target="_blank" v-if="result.url != ''">
                        <img src="/images/autoruico.png" width="20" style="float:left;">
                    </a>
                </td>
                <td>
                    <span v-if="result.id != editField">{{ result.mark }}</span>
                    <input type="text" v-model="result.mark" v-if="editField == result.id">
                </td>
                <td>
                    <span v-if="result.id != editField">{{ result.model }}</span>
                    <select v-model="result.model" v-if="editField == result.id" class="form-control">
                        <option v-for="model in parameters.models">
                            {{ model }}
                        </option>
                    </select>
                </td>
                <td>
                    <span v-if="result.id != editField">{{ result.body_code }}</span>
                    <input type="text" v-model="result.body_code" v-if="editField == result.id">
                </td>
                <td>
                    <span v-if="result.id != editField">{{ result.model_name }}</span>
                    <input type="text" v-model="result.model_name" v-if="editField == result.id">
                </td>
                <td>
                    <span v-if="result.id != editField">{{ result.body_type }}</span>
                    <select v-model="result.body_type" v-if="editField == result.id" class="form-control">
                        <option v-for="body_type in parameters.bodies">
                            {{ body_type }}
                        </option>
                    </select>
                </td>
                <td>
                    <span v-if="result.id != editField">{{ result.year_from }} - {{ result.year_to }}</span>
                    <input type="text" v-model="result.year_from" v-if="editField == result.id">
                    <input type="text" v-model="result.year_to" v-if="editField == result.id">
                </td>
                <td>
                    <span v-if="result.id != editField">{{ result.engine_type }}</span>
                    <select v-model="result.engine_type" v-if="editField == result.id" class="form-control">
                        <option v-for="engine_type in parameters.engines">
                            {{ engine_type }}
                        </option>
                    </select>
                </td>
                <td>
                    <span v-if="result.id != editField">{{ result.engine }}</span>
                    <input type="text" v-model="result.engine" v-if="editField == result.id">
                </td>
                <td>
                    <span v-if="result.id != editField">{{ result.volume }}</span>
                    <input type="text" v-model="result.volume" v-if="editField == result.id">
                </td>
                <td>
                    <span v-if="result.id != editField">{{ result.horse_power }}</span>
                    <input type="text" v-model="result.horse_power" v-if="editField == result.id">
                </td>
                <td>
                    <span v-if="result.id != editField">{{ result.box_type }}</span>
                    <select v-model="result.box_type" v-if="editField == result.id" class="form-control">
                        <option v-for="box_type in parameters.boxes">
                            {{ box_type }}
                        </option>
                    </select>
                </td>
                <td>{{result.box_val}}</td>
                <td>
                    <span v-if="result.id != editField">{{ result.unit_type }}</span>
                    <input type="text" v-model="result.unit_type" v-if="editField == result.id">
                </td>
                <td>
                    <span v-if="result.id != editField">{{ result.market }}</span>
                    <input type="text" v-model="result.market" v-if="editField == result.id">
                </td>
                <td>
                    <a class="btn btn-success glyphicon glyphicon-floppy-saved" v-if="isAdmin && editField == result.id" @click="saveCar(result)"></a>
                    <a class="btn btn-warning glyphicon glyphicon glyphicon-edit" v-if="isAdmin && editField != result.id" @click="editField = result.id"></a>
                    <a class="btn btn-primary glyphicon glyphicon glyphicon glyphicon-upload" @click="exportCar(result.id)"></a>
                    <a class="btn btn-success glyphicon glyphicon glyphicon glyphicon-upload" @click="exportCarToNote(result.id)"></a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</template>

<script>
    // import the component
    import Treeselect from '@riophae/vue-treeselect'
    import Multiselect from 'vue-multiselect'
    // import the styles
    import '@riophae/vue-treeselect/dist/vue-treeselect.css'
    import 'vue-multiselect/dist/vue-multiselect.min.css'

    export default {
        components: {
            markselect: Multiselect,
            modelselect: Multiselect,
            bodyselect: Multiselect,
            boxselect: Multiselect,
            volumeselect: Multiselect,
            engineselect: Multiselect,
            powerselect: Multiselect,
            yearselect: Multiselect,
        },
        props: [
            'params',
            'is_admin',
            'search_base',
        ],
        mounted() {
            console.log(this.search_base);
        },
        data() {
            return {
                // define default value
                mark: null,
                model: null,
                body: null,
                box: null,
                volume: null,
                engine: null,
                power: null,
                year: null,
                yearleft: null,
                yearright: null,
                results: null,
                isInputSearch: false,
                inputSearchValue: null,
                textToDeal: null,
                parameters: this.params,
                isAdmin: this.is_admin,
                searchBase: this.search_base,
                editField: 0,
            }
        },
        methods: {
            updateMark: function (select) {
                this.model = null;
                this.applyFilter();

                axios.post('/get-models', {
                    mark: select.id
                }).then((response) => {
                    this.models = response.data;
                });
            },
            applyFilter: function (filter) {
                this.isAvailable = false;
                var self = this;
                setTimeout(function () {
                    axios.post('/get-results', {
                        mark: self.mark,
                        model: self.model,
                        body: self.body,
                        box: self.box,
                        volume: self.volume,
                        engine: self.engine,
                        power: self.power,
                        year: self.year,
                        yearleft: self.yearleft,
                        yearright: self.yearright,
                        filter: filter,
                    }).then((response) => {
                        self.results = response.data.results;
                        self.parameters = response.data.params;
                    });
                }, 1);

            },
            searchaction: function () {
                axios.post('/get-input-results', {
                    text: this.inputSearchValue
                }).then((response) => {
                    this.results = response.data;
                });
            },
            sendNoteToDeal: function() {
                var text = this.textToDeal;
                axios.get('/crm/send-text/' + text, {}).then((response) => {
                    console.log(response);
                });
            },
            saveCar: function (carParams) {
                this.editField = 0;
                axios.post('/edit-car', {
                    carParams
                }).then((response) => {
                    console.log(response.data);
                });
            },
            changeSearchBase: function () {
                var searchBase = this.searchBase;
                axios.post('/change-base', {
                    searchBase
                }).then((response) => {
                    console.log(response.data);
                });
            },
            exportCar: function(id) {
                axios.get('/crm/update-deal/' + id, {}).then((response) => {
                   console.log(response);
                });
            },
            exportCarToNote: function(id) {
                axios.get('/crm/add-note/' + id, {}).then((response) => {
                   console.log(response);
                });
            }
        }
    }
</script>
