.merged {
    background: #ffffff;
}

.drom {
    background: #97d9ff;
}

.autoru {
    background: #ffecec;
}


.table input, select {
    width: 50px;
}

.container-full {
    margin: 0 auto;
    width: 95%;
}