.page-title {
  font-weight: 500;
  color: #000000;
  margin-left: -34px;
  font-size: 17px;
  position: absolute;
  margin-top: 10px;
}
.page-title:hover {
  text-decoration: none;
}
#footer {
  position: fixed; /* Фиксированное положение */
  left: 0; bottom: 0; /* Левый нижний угол */
  width: 100%; /* Ширина слоя */
}
#footer div {
  padding: 10px 10px 10px 100px; /* Поля вокруг текста */
  background-color: rgb(245, 248, 250); /* Цвет фона */
  border-top-style: solid;
  border-top-width: 1px;
  border-top-color: rgb(211, 223, 233);
}

#footer button {
  margin-left: 100px;
}